body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ecf0f1;
	font-family: 'Source Sans Pro', sans-serif;
}

#bcard {
	max-width: 50vw;
	padding: 20px;
	text-align: center;
	background-color: white;
	box-shadow: 5px 5px rgba(0,0,0,0.1);

}
.quote {
	font-weight: 200;
	font-style: italic;
	font-size: 1.5rem;
}
img {
	border-radius: 50%;
	border: 8px solid #ecf0f1;
	width: 50%;
	max-width: 150px;
}
a:link, a:visited { 
	color: #ecf0f1;
	font-size: 1.5rem; 
}

a:hover { 
	color: #2980b9; 
}

